includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app

    level: 5

    treatPhpDocTypesAsCertain: false

    parallel:
        maximumNumberOfProcesses: 1

    excludePaths:
        - app/Http/Middleware/HandleInertiaRequests.php
